<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button @click="add(10)">Add 10</button>
      <button @click="reduce(5)">Reduce 5</button>
      <button @click="resetCounter" style="background-color:chocolate;">Reset Counter</button>
      <p v-once>Starting counter : {{ counter }}</p>
      <p>Result: {{ counter }}</p>

      <!-- <input 
        type="text" 
        placeholder="input your first name" 
        v-model="name" 
        @keyup.enter="confirm"> -->
      <input 
        type="text" 
        placeholder="input your first name" 
        v-model="name">
      <input 
        type="text" 
        placeholder="input your last name" 
        v-model="lastName">
      <button @click="resetInput" style="background-color:chocolate;">Reset Input</button>
      <p>Your name : {{ fullname }}</p>

      <input 
        type="number" 
        placeholder="input your age" 
        @input="setAge($event, 'Year Old')">
      <p>Your age : {{ age }}</p>

      <form @submit.prevent="submitForm">
        <input type="text">
        <button>Sign Up</button>

      </form>
    </section>
  </body>
</html>
